.profile {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.description {
  text-align: center;
}

.name {
  font-weight: bold;
}
.avatar {
  margin-top: 20px;
  width: 50%;
  border-radius: 50%;
}

.stats {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.stats_data {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 82px;
  padding: 10px;
  border: 1px solid gray;

  background-color: gainsboro;
}
